
<input type="number" #input (input)="setNumbers(input.value)"  autofocus >

<button *ngIf="inputIsValid" (click)="sort(input.value)">send</button>


<table *ngIf="isSend">
  <tr>
    <th>
      bubble sorting O(N 2)
      <p> soring time {{performance['bubbleTime']}} (ns)</p>
      <ul *ngFor="let b of sortedArray['bubble']">
        <li>
          {{b}}
        </li>
      </ul>

    </th>
    <th>
      selection sorting O(N 2)
      <p>soring time {{performance['selectionTime']}} (ns)</p>
      <ul *ngFor="let s of sortedArray['selection']">
        <li>
          {{s}}
        </li>
      </ul>

    </th>
    <th>
      insertion sorting O(N 2)
      <p> soring time {{performance['insertionTime']}} (ns)</p>
      <ul *ngFor="let i of sortedArray['insertion']">
        <li>
          {{i}}
        </li>
      </ul>
    </th>

    <th>
      merge sorting O(N * logN)
      <p> soring time {{performance['mergeTime']}} (ns)</p>
      <ul *ngFor="let m of sortedArray['merge']">
        <li>
          {{m}}
        </li>
      </ul>
    </th>

    <th>
      quick sorting O(N * logN)
      <p> soring time {{performance['quickTime']}} (ns)</p>
      <ul *ngFor="let q of sortedArray['quick']">
        <li>
          {{q}}
        </li>
      </ul>
    </th>




  </tr>

</table>


